body{
	max-width: 1920px;
}

nav>ul>li{
	display:inline-block;
	margin: 15px 0;
	padding: 0 20px;

	
}


nav{

	background-color: #222931;
	max-width: 950px;
	margin: 0 auto;
	position: relative;
	top:40px;

}

a{
	color: white;
	text-decoration:none;
}
a:hover{
	background-color: #ffe718;
}

#logo{
	position: relative;
	top: 45px;
	left: 19%
	
}

.header{
	max-width: 100%;
}
	

.banner1{
margin: 40px 20px 30px 200px;
}

.banner1:hover{
	filter: brightness(40%);
}

.banner2{
margin: 40px 20px 30px 20px;
}
.banner2:hover{
	filter: brightness(40%);
}

.banner3{
margin: 40px 100px 30px 20px;
}
.banner3:hover{
	filter: brightness(40%);

}


h1{
	display: inline-block;
	margin-left: 100px;
	position: relative;
	top: 35px;
}

button{
	background-color: white;
	border: none;
	color: black;
	padding: 10px 30px 10px 30px;
	position: relative;
	left: 1100px;
	bottom: 85px;

}
button:hover{
	background-color: #222931;
	color: white;
}

h3{
	position: relative;
	left: 450px;
	bottom: 30px;
}


.yellowbar{
	background-color: #ffe718;
	height: 150px;
}
.uitklap-menu{
	display: none;
	list-style-type: none;
	padding: 0;
	position: absolute;
	top: 18px;
	left:0;
}

.uitklap-menu>li{
	border: 1px none;
	width: 120px;
	background-color: #222931;

}
.uitklap-menu>li:hover{
	background-color: #ffe718 ;
}

.uitklap-item:hover > .uitklap-menu{
	display: block;

}

.uitklap-item{
	position: relative;

}


}

img{
	max-width: 100%;
}

#footer{
	margin-top: 30px;
	max-width: 100%;
}



.fa-angle-down{
	color: white;
}

.fa-handshake{
    background-color: yellow;
    position: relative;
    bottom:100px;
    left:100px;
    padding:30px;
    width: 300px;

}


.fa-toolbox{
        background-color: yellow;
    position: relative;
    top: 50px;
    left:100px;
    padding:30px;
    width: 300px;
}

.fa-envelope{
background-color: yellow;
    position: relative;
    top:120px;
    left:150px;
    padding:30px;
    width: 300px;

}

.footer1{
    position: relative;
    bottom:320px;
    left:200px;
    padding:30px;
    

}

.footer2{
        position: relative;
    bottom:250px;
    left:400px;
    padding:30px;
    margin:10px;
}

.footer3{
        position: relative;
    bottom:70px;
    left:350px;
    padding:30px;
    margin:10px;
}

